<% provide(:title, "Admin Login In") %>
<h1>Admin Log In</h1>
<p>If you ain't an admin, GET OUT</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:admin, url: admin_new_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>