<% title("#{@user.first} #{@user.last} - ForeverCard") %>
<% style 'card.css' %>

<div class="widthcap card">
  <div class="card-inner">
    <div class="card-header">
      <h1><b><%= @user.first %></b> <%= @user.last %></h1>
      <div class="lead"><%= if (@user.org == "")
                               @user.role
                            else 
                              @user.role + " at " + @user.org
                            end %>
      </div>
      <p></p>
      <div class="row">
        <div class="col-xs-12 text-center bio">
          <b><%= @user.bio %></b>
        </div>
      </div>
    </div>

    <div align="center">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="row aligned">
              <div class="fa fa-phone"></div>
              <div><a href="tel://<%= @user.phone %>"><%= @user.phone %></a></div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-6">
            <div class="row aligned">
            </div>
    
            <div class="row aligned">
              <div class="fa fa-envelope"></div>
              <div><a href="mailto:<%= @user.email + "?subject=&body=" + "%0D%0A" + "%0D%0A" + "%0D%0A" + "-Email provided by ForeverCard.co"%>"><%= @user.email %></a></div>
            </div>
          </div>
        </div>
    </div>

    <div class="row social">
      <a class="fa fa-facebook" href="//facebook.com/<%= @user.facebook %>"></a>
      <a class="fa fa-twitter" href="//twitter.com/<%= @user.twitter %>"></a>
      <a class="fa fa-linkedin" href="//linkedin.com/in/<%= @user.linkedin %>"></a>
    </div>
  </div>
  
  <a class="btn btn-large btn-block btn-info" type="button" href=<% vcard_path %>><b>Download Contact</b></a>
  <p>
    
  </p>
</div>

<div class="row footer hidden-xs">
  <div class="text-center copyright">&copy; 2014 Real Good Apps. All Rights Reserved.</div>
</div>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">