<div class="page-header"><h1>User Directory</h1></div>

  <% form_tag("search", method: "get") do %>
  <% label_tag(:q, "Search for:") %>
  <% text_field_tag(:q) %>
  <% submit_tag("Search") %>
<% end %>
 
<table class="table">
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
    <th colspan="4">Actions</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first %></td>
      <td><%= user.last %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= link_to 'View', user_path(user) %></td>
    </tr>
  <% end %>
</table>


<p> <%= link_to 'Home', welcome_index_path %>
    <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %></p>