<% title("#{@user.first} #{@user.last} - ForeverCard") %>
<% style 'card.css' %>

<div class="widthcap card">
  <div class="card-inner">
    <div class="card-header">
      <h1><b><%= @user.first %></b> <%= @user.last %></h1>
      <div class="lead"><%= if (@user.org == "")
                               @user.role
                            else 
                              @user.role + " at " + @user.org
                            end %>
      </div>
    </div>
    
     <div class="row">
      <div class="col-xs-12 text-center bio">
        <%= @user.bio %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row aligned">
          <div><a href="tel://<%= @user.phone %>"><%= image_tag("http://i57.tinypic.com/3469rah.png") %></a></div>
        </div>
        
        <div class="row aligned">
          <div><%= link_to image_tag("http://i59.tinypic.com/23wgm.png"), "http://www.facebook.com/" + @user.facebook %> </div>
        </div>
        
        <div class="row aligned">
          <div><%= link_to image_tag("http://i59.tinypic.com/9a0rbd.png"), "http://www.twitter.com/" + @user.twitter %> </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="row aligned">
        </div>

        <div class="row aligned">
          <div><a href="mailto:<%= @user.email %>"><%= image_tag("http://i59.tinypic.com/2agthzd.png") %></a></div>
        </div>
        
        <div class="row aligned">
          <div><%= link_to image_tag("http://i59.tinypic.com/2e2h00j.png"), "http://www.linkedin.com/profile/view?id=" + @user.linkedin %> </div>
        </div>
      </div>

<div class="row">
      <div class="col-xs-12 text-center bio">
        <div><%= download :user %></div>
      </div>
    </div>
  </div>    
</div>
</div>

<div class="row footer hidden-xs">
  <div class="text-center copyright">&copy; 2014 Real Good Apps. All Rights Reserved.</div>
</div>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">