<% title("#{@user.first} #{@user.last} - ForeverCard") %>
<% style 'card.css' %>

<div class="widthcap card">
  <div class="card-inner">
    <div class="card-header">
      <h1><b><%= @user.first %></b> <%= @user.last %></h1>
      <div class="lead"><%= if (@user.org == "")
                               @user.role
                            else 
                              @user.role + " at " + @user.org
                            end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row aligned">
          <div class="fa fa-phone"></div>
          <div><a href="tel://<%= @user.phone %>"><%= @user.phone %></a></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="row aligned">
        </div>

        <div class="row aligned">
          <div class="fa fa-envelope"></div>
          <div><a href="mailto:<%= @user.email %>"><%= @user.email %></a></div>
          <%= link_to image_tag("http://i59.tinypic.com/2agthzd.png"), mail_to(@user.email) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center bio">
        <%= @user.bio %>
      </div>
    </div>

    <div class="row social">
      <a class="fa fa-facebook" href="//facebook.com/<%= @user.facebook %>"></a>
      <a class="fa fa-twitter" href="//twitter.com/<%= @user.twitter %>"></a>
      <a class="fa fa-linkedin" href="//linkedin.com/in/<%= @user.linkedin %>"></a>
    </div>
  </div>
</div>


<div class="row">
      <div class="col-xs-12 text-center bio">
        <div><a send_data("BEGIN:VCARD
VERSION:2.1
N:<%= @user.last %>;<%= @user.first %> (Name)
FN:<%= @user.first %><%= @user.last %> (Full Name)
ORG:<%= @user.org %>
TITLE:<%= @user.role %>
TEL;WORK;VOICE:<%= @user.phone %>
TEL;HOME;VOICE:<%= @user.phone %>
EMAIL;PREF;INTERNET:<%= @user.email %>
END:VCARD", :filename => "<%= @user.first %>.<%= @user.last %>.vcf")</a></div>
      </div>
    </div>
    

<div class="row footer hidden-xs">
  <div class="text-center copyright">&copy; 2014 Real Good Apps. All Rights Reserved.</div>
</div>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">