<% title 'Design - ForeverCard' %>
<% style 'register' %>
<% cardDesigns = Hash.new %>
<% cardDesigns["eclipse"] = "http://i57.tinypic.com/69eybk.jpg" %>
<% cardDesigns["music"] = "http://i59.tinypic.com/261gemd.jpg" %>
<% cardDesigns["skyline"] = "http://i62.tinypic.com/1zg6e6w.jpg" %>
<% cardDesigns["brownFlower"] = "http://i58.tinypic.com/w1ba68.jpg" %>
<% cardDesigns["dark"] = "http://i60.tinypic.com/15pqqzq.jpg" %>
<% cardDesigns["brownBasic"] = "http://i60.tinypic.com/10sfxnr.jpg" %>
<% cardDesigns["feather"] = "http://i61.tinypic.com/oi54c5.jpg" %>
<% cardDesigns["crown"] = "http://i60.tinypic.com/2jgmyr.jpg" %>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">ForeverCard</a>
    </div>

  </div>
</nav>

<div class="row">
    <div class="text-center">
        <h1><b>Step 1/3: Design</b></h1>
    </div> 
</div>

<div class="row header widthcap">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <h1></h1>
    </div>
  </div>
</div>

<div class="container">
    <%= form_for :order , url: wizard_path(:design, :order_id => @order.id), method: :put , :html => { :multipart => true } do |f| %>
        <div class="row">
            <h2>-Classic-</h2>
            <% cardDesigns.each do|name,design| %>
                <div class="col-md-3">
                    <div class="text-center">
                        <%= f.radio_button :design, :value => design %>
                        <%= f.label :design, image_tag(design) %>
                    </div>
                </div>
            <% end %>
        </div>
        
        <div class="row">
            <h2>-Bold-</h2>
            <% cardDesigns.each do|name,design| %>
                <div class="col-md-3">
                    <div class="text-center">
                        <%= f.radio_button :design, :value => design %>
                        <%= f.label :design, image_tag(design) %>
                    </div>    
                </div>
            <% end %>
        </div>

        <div class="row">
            <h2>-Upload a Design-</h2>
            <div class= "col-md-6">
                <%= f.file_field :image %> 
            </div>
        </div>
    
        <div style="float:left;">
            <a class="btn btn-primary" type="button" href=<%= root_path %>>Back: Cancel Order</a>
         </div>  
         <div style="float:right;">
            <%= f.submit 'Next: Order Details', :class => 'btn btn-primary' %> 
         </div>
    <% end %>
</div>