<% title 'Design - ForeverCard' %>
<% style 'register' %>
<% cardDesigns = Hash.new %>
<% cardDesigns["Eclipse"] = "http://i60.tinypic.com/2cr8xs4.jpg" %>
<% cardDesigns["Skyline"] = "http://i60.tinypic.com/2v7v6mt.jpg" %>
<% cardDesigns["Music"] = "http://i58.tinypic.com/14d0hlk.jpg" %>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">ForeverCard</a>
    </div>

  </div>
</nav>

<div class="row header widthcap">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <h1>Design ForeverCards</h1>
    </div>
  </div>
</div>

<%= form_for :order , url: {action: "update"}, :html => { :multipart => true } do |f| %>
    <% cardDesigns.each do|name,design| %>
        <div class="form-group col-md-6">
            <div class="row">
                <%= f.radio_button :design, :value => design %>
                <%= f.label :design, image_tag(design) %>
            </div>
        </div>
    <% end %>
    
    <div class="col-sm-6">
        <%= f.submit 'Continue', :class => 'btn btn-primary' %>
    </div>
<% end %>

<p>
                  
</p>

<p>
  ----------OR----------               
</p>

<%= form_for :order , url: {action: "update"}, :html => { :multipart => true } do |f| %>
    <p>
      Upload a design
    </p>
    <div class="widthcap clearfix">
        <div class="form-group col-md-6">
            <div class="row">
                <%= f.file_field :image %> 
                <p>
                  
                </p>
                <%= f.submit 'Continue', :class => 'btn btn-primary' %>
            </div>
        </div>
    </div>
<% end %>