<% title 'Order Details - ForeverCard' %>
<% style 'register' %>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">ForeverCard</a>
    </div>
    
    <% if @order.errors.any? %>
          <p class="error-notice">Please fix the following <%= pluralize(@order.errors.count, 'error') %>:</p>
          <ul class="errors">
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
      <% end %>

  </div>
</nav>

<div class="row">
    <div class="text-center">
        <h1><b>Step 2/3: Order Details</b></h1>
    </div> 
</div>

<div class="widthcap clearfix">
  <%= form_for :order , url: wizard_path(:details, :order_id => @order.id), method: :put do |f| %>
  
        <div class="row">
            <div class="form-group col-md-6">
                <%= f.label :quantity %>
                <%= f.select(:quantity, { "100" => 100, "250" => 250, "500" => 500 }, {}, :class => 'form-control') %>
            </div>
            
            <div class="form-group col-md-6">
                <%= f.label :paperStock %>
                <%= f.select(:paperStock, { "Matte  $" => "Matte", 
                                        "Premium Matte  $$" => "Premium Matte",
                                        "Glossy  $$" => "Glossy",
                                        "Recycled Matte  $$$" => "Recycled Matte",
                                        "Premium Glossy  $$$" => "Premium Glossy"}, {}, :class => 'form-control')%>
            </div>
        <p>
            
        </p>    
        </div>
        
        <p>
            
        </p>
        <h2>-Shipping Information-</h2>
        <p>
            
        </p>
        
        <div class="row">
         <p>
            
        </p>
            <div class="form-group col-md-7">
                <%= f.label :address1, 'Address Line 1' %>
                <%= f.text_field :address1, :class => 'form-control' %>
            </div>
            
            <div class="form-group col-md-3">
                <%= f.label :city, 'City' %>
                <%= f.text_field :city, :class => 'form-control' %>
            </div>
            
            <div class="form-group col-md-2">
                <%= f.label :state, 'State' %>
                <%= select_tag :state, options_for_select(us_states), :class => 'form-control' %>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-7">
                <%= f.label :address2, 'Address Line 2 (if applicable)' %>
                <%= f.text_field :address2, :class => 'form-control' %>
            </div>
            
            <div class="form-group col-md-5">
                <%= f.label :zip, 'Zip Code' %>
                <%= f.text_field :zip, :class => 'form-control' %>
            </div>
        </div>
      
     <div style="float:left;">
         <div class="col-xs-5">
            <a class="btn btn-primary" type="button" href=<%= wizard_path(:design, :order_id => @order.id) %>>Back: Design</a>
        </div>
     </div>  
     <div style="float:right;">
         <div class="col-xs-5">
            <%= f.submit 'Next: Payment', :class => 'btn btn-primary' %> 
        </div>
     </div>
  <% end %>
