<% title 'Order Payment - ForeverCard' %>
<% style 'card.css' %>

<% orderAmounts = Hash.new %>
<% orderAmounts["Matte 100"] = 15 %>
<% orderAmounts["Matte 250"] = 28 %>
<% orderAmounts["Matte 500"] = 33 %>
<% orderAmounts["Premium Matte 100"] = 15 %>
<% orderAmounts["Premium Matte 250"] = 31 %>
<% orderAmounts["Premium Matte 500"] = 50 %>
<% orderAmounts["Glossy 100"] = 15 %>
<% orderAmounts["Glossy 250"] = 31 %>
<% orderAmounts["Glossy 500"] = 52 %>
<% orderAmounts["Recycled Matte 100"] = 15 %>
<% orderAmounts["Recycled Matte 250"] = 32 %>
<% orderAmounts["Recycled Matte 500"] = 53 %>
<% orderAmounts["Premium Glossy 100"] = 15 %>
<% orderAmounts["Premium Glossy 250"] = 32 %>
<% orderAmounts["Premium Glossy 500"] = 54 %>

<div class="row">
    <div class="text-center">
        <h1>Step 3/3: Confirmation and Payment</h1>
    </div> 
</div>

<div class="widthcap card">
  <div class="card-inner">
    <%= form_tag charges_path do %>
        <div class="row">
            <div style="float:left;">
                <%= @order.quantity.to_s + " '" + @order.paperStock + "'"%> Business Cards
             </div>  
             <div style="float:right;">
                $<%= orderAmounts[@order.paperStock + ' ' + @order.quantity.to_s] %>.00 
             </div>
        </div>
        
        <div class="row">
            <div style="float:left;">
                + Shipping
             </div>  
             <div style="float:right;">
                <% getShipping(@order.quantity) %>
                $<%= @shipping %>
             </div>
        </div>
        
        <div class="row">
            <div style="float:left;">
               + Tax
             </div>  
             <div style="float:right;">
                <% getTax(orderAmounts[@order.paperStock + ' ' + @order.quantity.to_s], @shipping) %>
                $<%= @tax %>
             </div>
        </div>
        
        <div class="row">
            <div class="text-right">
                ---------------
            </div>
        </div>
        
        <div class="row">
            <div style="float:left;">
               Total
             </div>  
             <div style="float:right;">
                <% getTotal(orderAmounts[@order.paperStock + ' ' + @order.quantity.to_s], @shipping, @tax.to_i) %>
                $<%= @total %>
             </div>
        </div>
        <p>
    
        </p>
        <div class="row">
            <div style="float:left;">
               <a class="btn btn-primary" type="button" href=<%= wizard_path(:details, :order_id => @order.id) %>>Previous Step: Details</a>
             </div>  
             <div style="float:right;">
                <script src="https://checkout.stripe.com/checkout.js" class="btn btn-primary" type="button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="One time payment"
                      data-amount="<%= @total * 100 %>"></script>
             </div>
        </div>
    </div>
</div>

    <% end %>
<p>
    
</p>


<div class="text-primary">
    <div class = "col">
        <div class="text-center">
            <%= image_tag("http://i57.tinypic.com/2namw5h.png")%> 
        </div>
    </div>
</div>

<div class="text-primary">
    <div class = "col">
        <div class="text-center">
            This payment is secure. Learn more <u><b><%=link_to 'here', 'https://stripe.com/help/security', :target => "_blank" %> </b></u>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">